@import url(/fonts/Roboto_Condensed);
$mainfont:'Roboto Condensed',
sans-serif;
$maincolor:orange;
$textcolor:#fff;

/*RESETS*/
* {
  font-family: $mainfont;
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  height: 100%;
}
header {
  h1 {
    color: $maincolor;
    font-size: 25px;
    font-weight: 400;
    margin: 15px 0 15px 30px;
  }
}

/*--------------------------------------header menu bar*/
nav {
  padding: 20px 0px 20px 0px;
  background-color:$maincolor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  z-index: 99;

  .nav-list {
    display: flex;
    list-style: none;

    li {
      margin-left: 30px;
    }

    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: lighter;
      color:$textcolor;

      &:hover{
        color:yellow;
      }

    }
  }
}


#hamburger-toggle {
  display: none;
}

.hamburger {
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;

  .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color:$textcolor;
    position: relative;
    transition: all 0.3s;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: all 0.3s;
    }

    &:before {
      transform: translateY(-10px);
    }

    &:after {
      transform: translateY(10px);
    }
  }
}

/*----------------MAIN CONTENT--------------------*/


.main {
  #banner{
    width: 100%;
    height: 319px;
    object-fit: cover;
    position: absolute;
  }

  #banner-text {
    position: relative;
    color: $textcolor;
    max-width: 360px;
    padding: 140px 0 55px 30px;

    h1 {
      font-size: 25px;
      font-weight: normal;
    }

    p {
      font-size: 16px;
      font-weight: lighter;

    }
  }
}

/*---------------GRAPHS------------------*/
#flex{
  height:250px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin:30px 0px 30px 0px;
}
#container{
  width:49%;
  min-width: 320px;
  height:250px;
  
}
#texto-grafico{
  width: 49%;
  min-width: 320px;
  padding:54px 50px 30px 50px;
  height: 100%;
  justify-content: space-around;
  background-color: #f1f1f1;
  h1{
    margin-bottom: 20px;
    color:#FF7800;
    font-size:38px;
  }
  #millions{
    font-weight: 400;
  }
  
}

#container div{
  width: 100%!important;
  min-width: 320px;
}
canvas{
  width:100%!important;
  background-color: #f1f1f1;
}

/*---------------MEDIAS-------------------*/
@media (max-width: 740px) {

  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transform: translateX(-100%);
    transition: transform 0.3s;
    z-index: 99;

    li {
      margin: 10px 0 10px 0;

      a {
        display: inline-block;
        font-size: 20px;
        padding: 15px 20px;
        transition: all 0.3s;

        &:hover {
          background-color:$textcolor;
          color: #000;
          transform: translateY(-10px);
        }
      }
    }
  }
  .hamburger {
    display: flex;
    z-index: 999;
    margin-left: 30px;
  }
  #hamburger-toggle{
    &:checked~.nav-list {
      transform: none;
    }
    &:checked~.hamburger .bar::before {
      transform: rotate(45deg);
    }
    &:checked~.hamburger .bar {
      position: fixed;
      background-color: transparent;
    }
    &:checked~.hamburger .bar::after {
      transform: rotate(-45deg);
    }
  }
  #texto-grafico{
    width:100%;
    margin-top:20px;
    h1{
      font-size: 30px;
    }
   
  }
  #container{
    width:100%;
  }
}